<!DOCTYPE html>
<html lang="ko" xmlns="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>noticeModify</title>
    <th:block th:replace="/notice/fragments/head"></th:block>
    <link rel="stylesheet" href="/static/css/notice.css">
    <link rel="stylesheet" href="/static/css/notice-modify.css">
    <script type="text/javascript" src="/static/js/service/HuskyEZCreator.js" charset="utf-8"></script>
</head>
<body>
    <th:block th:replace="/notice/fragments/header"></th:block>


    <main>
        <div class="notice-header">
            <h1 class="menu-title">글 수정</h1>
        </div>
        <article>
            <form enctype="multipart/form-data">
                <table class="notice-list">
                    <tr class="notice-row">
                        <th>제목</th>
                        <td><input type="text" class="notice-title"
                            name="noticeTitle"></td>
                    </tr>
                    <tr class="notice-row">
                        <td colspan="2">
                            <input type="file" class="notice-file" name="file">
                        </td>
                    </tr>
                    <tr class="notice-row">
                        <td colspan="2">
                            <textarea name="ir1" id="ir1" style="width: 100%; height: 
                            400px;"></textarea>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            <div class="notice-submit">
                                <button type="button" class="notice-button 
                                submit">수정하기</button>
                                <button type="button" class="notice-button 
                                cancel">취소하기</button>
                            </div>
                        </td>
                    </tr>
                </table>
            </form>
        </article>
    </main>
    <script type="text/javascript">
        let oEditors = [];
        nhn.husky.EZCreator.createInIFrame({
         oAppRef: oEditors,
         elPlaceHolder: "ir1",
         sSkinURI: "/static/SmartEditor2Skin.html",
         fCreator: "createSEditor2",
         fOnAppLoad: () => {
            oEditors.getById["ir1"].exec("PASTE_HTML", ["복사된 글"]);
         }
        });

        const submitButton = document.querySelector(".submit");

        submitButton.onclick = () => {
             // 에디터의 내용이 textarea에 적용된다.
            oEditors.getById["ir1"].exec("UPDATE_CONTENTS_FIELD", []);

            // 에디터의 내용에 대한 값 검증은 이곳에서
            const textareaValue = document.getElementById("ir1").value;
            alert(textareaValue);
        }
        </script>
</body>
</html>
